@{
    ViewData["Title"] = "Profil Kaldır";
}

<div class="row p-3">
    <div class="col">
        <h3 class="display-4 border-bottom">Kullanıcı Hesabı Kaldır</h3>
    </div>
</div>

<div class="row ">
    <div class="col-4 text-center">
        <img src="https://picsum.photos/id/1005/128" class="rounded-circle img-thumbnail"/>
    </div>
    <div class="col-4">
        <h3 class="display-4">Emirhan Kaymak</h3>
        <div class="mb-3">
            <div><b>Kullanıcı Adı</b></div>
            <div>emirhankaymak</div>
        </div>
        <div class="mb-3">
            <div><b>E-Posta Adresi</b></div>
            <div>emirhankaymak@gmaili.com</div>
        </div>
        <div class="mb-3">
            <p class="text-danger fw-bold">(Bu işlem geri alınamaz!)</p>
            <form method="post" asp-action="DeleteProfile">
                <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash mr-2"></i>Hesabı Kaldır</button>
            </form>
        </div>
    </div>
</div>